@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=chillax@400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #1a73e8;
  --secondary: #fbbc05;
  --accent: #34a853;
  --error: #ea4335;
  --warning: #fbbc05;
  --info: #4285f4;
  --success: #34a853;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
    font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}